.maze-grid {
    display: grid;
    grid-template-columns: repeat(10, 55px);
    grid-template-rows: repeat(10, 55px);
    gap: 2px;
    /* margin-top: 50px; */
    background-color: #f9f9f9;
    border: 2px solid #aaa;
    padding: 5px;
}

.cell {
    width: 50px;
    height: 50px;
    border: 1px solid #999;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    font-weight: bold;
}


.empty {
    background-color: #e6e6e6;
}

.wall {
    background-color: #444;
    color: white;
    border: none;
}

.player {
    background-color: #007bff;
    color: white;
}

.key {
    background-color: gold;
    border: none;
}

.gate {
    background-color: red;
    color: #e6e6e6;
    border: none;
}

.target {
    background-color: green;
    color: white;
}