<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Admin Dashboard</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<style>
  score-panel {
        background: rgba(40, 0, 0, 0.8);
        border-left: 3px solid red;
        padding: 20px;
        height: 100%;
        color: white;
        box-shadow: inset 0 0 10px red;
        animation: fadeIn 1s ease-in;
    }
    li[style*="animation: pulse"] {
    box-shadow: 0 0 10px currentColor;
}


    @keyframes pulse {
        from { text-shadow: 0 0 10px red; }
        to { text-shadow: 0 0 30px #ff1a1a; }
    }
</style>
<body style="background-color:#111; color:white;">

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand text-danger" href="/">Admin</a>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav me-auto">
        <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="/admin/addchallenges">Add Challenges</a></li>
        <li class="nav-item"><a class="nav-link" href="/admin/challenges">Challenges</a></li>
        <li class="nav-item"><a class="nav-link text-danger " href="/logout">Logout</a></li>

      </ul>
    </div>
  </div>
</nav>

<div class="container mt-4">
  <div class="col-md-12 score-panel" style="margin-top: 140px; padding-bottom: 40px;">
    <h4 class="text-danger">🏆 Leader board</h4>
    <ul class="list-unstyled mt-3">
        {% for score in score %}
            {% if loop.index == 1 %}
            <li style="color:#00bfff; font-weight:bold; animation: pulse 1s infinite; margin-bottom: 10px; border:2px solid #00bfff; border-radius:8px; padding:5px;">
                👑 {{ score.UserID }} - 🕒 {{ score.global_time }}s
            </li>
            {% elif loop.index == 2 %}
            <li style="color:#00ff7f; font-weight:bold; animation: pulse 1s infinite; margin-bottom: 10px; border:2px solid #00ff7f; border-radius:8px; padding:5px;">
                🥈 {{ score.UserID }} - 🕒 {{ score.global_time }}s
            </li>
            {% elif loop.index == 3 %}
            <li style="color:#ffa500; font-weight:bold; animation: pulse 1s infinite; margin-bottom: 10px; border:2px solid #ffa500; border-radius:8px; padding:5px;">
                🥉 {{ score.UserID }} - 🕒 {{ score.global_time }}s
            </li>
            {% else %}
            <li style="color:#ffffff; font-weight:bold; animation: pulse 1s infinite; margin-bottom: 10px; border:2px solid #f4f4f4; border-radius:8px; padding:5px;">
                🔹 {{ score.UserID }} - 🕒 {{ score.global_time }}s
            </li>
            {% endif %}
        {% endfor %}
    </ul>
    
</div>
</div>

</body>
</html>
